.menu-wrap
  %nav.menu
    %a.logo{:href => "#{}" }
      %img{:src => "/images/logoH.png", :alt => "Wanderist"}/
    .icon-list
      %a{:href => "#"}
        %i.fa.fa-fw.fa-star-o
        %span Itineraries
      %a{:href => "#"}
        %i.fa.fa-fw.fa-bell-o
        %span Contests
      %a{:href => "#"}
        %i.fa.fa-fw.fa-envelope-o
        %span Messages
      %a{:href => "#"}
        %i.fa.fa-fw.fa-comment-o
        %span Comments
      %a{:href => "#"}
        %i.fa.fa-fw.fa-bar-chart-o
        %span Analytics
      %a{:href => "#"}
        %i.fa.fa-fw.fa-newspaper-o
        %span Reading List
/ %button#open-button.menu-button Open Menu
.content-wrap
  .content-overlay