.buttonWrap
  .button_show
    %i.fa.fa-angle-left
.ltinerary-details

  .wrap-ltinerary
    .content
      .wrap-date
        .selectDate
          - (1..30).each do |i|
            %div.dateSlide Jun #{i}
        %div.button_show.show_map#button_show
          %i.fa.fa-angle-right
      .infoCards
        .infoCard-title
          .title
            %i.w-icon.wi-food-black
            .title-content
              %h3 Trattoria Da Ropeton
              %p.subTitle Via Fontana del Ferro, 1, Verona, Italy
          .time
            %i.w-icon.wi-clock
            10.00
        .contentCard
          .imgCard
            %img{:src => "images/pictures/card-deteils1.png", :alt => ""}
          .descriptionCard
            .text-desc
              %p Amazing owner who sings and serves the food himself! Experience which you'll never forget and will include to the travel different mockups :)
              %p Amazing owner who sings and serves the food himself! Experience which you'll never forget and will include to the travel different mockups :)
        .show-toggle
          %i.fa.fa-angle-up
      .wrapLine
        .verticalLine
        %i.fa.fa-taxi
      .infoCards
        .infoCard-title
          .title
            %i.w-icon.wi-food-black
            .title-content
              %h3 Trattoria Da Ropeton
              %p.subTitle Via Fontana del Ferro, 1, Verona, Italy
          .time
            %i.w-icon.wi-clock
            11.00
        .contentCard
          .imgCard
            %img{:src => "images/pictures/card-deteils1.png", :alt => ""}
          .descriptionCard
            .text-desc
              %p Amazing owner who sings and serves the food himself! Experience which you'll never forget and will include to the travel different mockups :)
              %p Amazing owner who sings and serves the food himself! Experience which you'll never forget and will include to the travel different mockups :)
        .show-toggle
          %i.fa.fa-angle-up
      .wrapLine
        .verticalLine
        %i.fa.fa-taxi
      .infoCards
        .infoCard-title
          .title
            %i.w-icon.wi-food-black
            .title-content
              %h3 Trattoria Da Ropeton
              %p.subTitle Via Fontana del Ferro, 1, Verona, Italy
          .time
            %i.w-icon.wi-clock
            11.00
        .contentCard
          .imgCard
            %img{:src => "images/pictures/card-deteils1.png", :alt => ""}
          .descriptionCard
            .text-desc
              %p Amazing owner who sings and serves the food himself! Experience which you'll never forget and will include to the travel different mockups :)
              %p Amazing owner who sings and serves the food himself! Experience which you'll never forget and will include to the travel different mockups :)
        .show-toggle
          %i.fa.fa-angle-up
    .map-details
      #map-canvas2

