.headerLeft
  .cd-nav-trigger#cd-nav-trigger
    %span
  .headerLinks.butto-overlay
    %a.headerLink.active{:href => "/"}
      %i.wi-binoculars.w-icon
      Overview
    %a.headerLink{:href => "/Itinerary.html"}
      %i.wi-details.w-icon
      Details

.headerRight
  .shareLinks
    %span Share this itinerary:
    %a
      %i.fa.fa-facebook-square{:href => "#"}
    %a
      %i.fa.fa-twitter-square{:href => "#"}
